.text {
  &--xxl {
      font-size: 10rem;
  }

  &--xl {
      font-size: 8rem;
  }

  &--lg {
      font-size: 6rem;
  }

  &--md {
      font-size: 1.8rem;
  }

  &--sm {
      font-size: 1.6rem;
  }
  
  &--xs {
      font-size: 1.4rem;
  }

  &--xxs {
      font-size: 1rem;
  }

}