@import './abstract/variables';
@import './abstract/mixins';
@import './abstract/utils';

@import './base/reset';
@import './base/typography';

@import './layout/grid_system';
@import './components/navbar';
@import './components/buttons';
@import './components/cards';
@import './components/forms';
@import './components/alerts';
@import './components/sidebar';
@import './components/modal';

@import './abstract/helpers';

.main {
  padding: 5.8rem 0 0 25rem;
  z-index: -1;

  &.expand {
    padding-left: 4rem;
  }
}

.child {
  background-color: violet;
  height: 4rem;
}


