//colors
$primary-color: #1867C0;
$secondary-color: #607D8B;
$danger-color: #FF5252;
$success-color: #4CAF50;
$warning-color: #FB8C00;
$info-color: #5CBBF6;
$border-raduis: 4px;
//themes
$dark: #333333;
$light: #FAFAFA;
//dafault
$border-color: rgb(228, 228, 228);

$font-color: #212121;


$grid-gap: 10px;
