// grid system
$grid-columns: 12 !default;

.grid, [class*="grid__auto--"] {
  display: grid;
  grid-gap: var(--grid-gap, 0);
}

.grid {
  --grid-cols: #{$grid-columns};
  grid-template-columns: repeat(var(--grid-cols), 1fr);

  > * {
    grid-column: span var(--span, #{$grid-columns}) / span var(--span, #{$grid-columns});
  }
}

.grid__auto--xs, .grid__auto--sm, .grid__auto--md, .grid__auto--lg, .grid__auto--xl, .grid__auto--xxl , .grid__auto--xxxl, .grid__auto--xxxxl { // auto-sized grid
  grid-template-columns: repeat(auto-fit, minmax(var(--col-min-width), 1fr));
}

.grid__auto--xs { --col-min-width: 8rem; }
.grid__auto--sm { --col-min-width: 10rem; }
.grid__auto--md { --col-min-width: 15rem; }
.grid__auto--lg { --col-min-width: 20rem; }
.grid__auto--xl { --col-min-width: 25rem; }
.grid__auto--xxl { --col-min-width: 30rem; }
.grid__auto--xxxl { --col-min-width: 40rem; }
.grid__auto--xxxxl { --col-min-width: 45rem; }

.grid__auto--cols { // cols = same size
  grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
}

.grid__gap--xxxxs { --grid-gap: var(--space-xxxxs, 0.125rem); }
.grid__gap--xxxs  { --grid-gap: var(--space-xxxs, 0.25rem); }
.grid__gap--xxs   { --grid-gap: var(--space-xxs, 0.375rem); }
.grid__gap--xs    { --grid-gap: var(--space-xs, 0.5rem); }
.grid__gap--sm    { --grid-gap: var(--space-sm, 0.75rem); }
.grid__gap--md    { --grid-gap: var(--space-md, 1.25rem); }
.grid__gap--lg    { --grid-gap: var(--space-lg, 2rem); }
.grid__gap--xl    { --grid-gap: var(--space-xl, 3.25rem); }
.grid__gap--xxl   { --grid-gap: var(--space-xxl, 5.25rem); }
.grid__gap--xxxl  { --grid-gap: var(--space-xxxl, 8.5rem); }
.grid__gap--xxxxl { --grid-gap: var(--space-xxxxl, 13.75rem); }

@for $i from 1 through $grid-columns {
  .col--#{$i} { --span: #{$i}; }
  .col__start--#{$i} { grid-column-start: #{$i}; }
  .col__end--#{$i+1} { grid-column-end: #{$i+1}; }
}


@media (min-width: 600px) {
    @for $i from 1 through $grid-columns {
      .col__sm--#{$i} { --span: #{$i}; }
      .col__sm--start-#{$i} { grid-column-start: #{$i}; }
      .col__sm--end-#{$i+1} { grid-column-end: #{$i+1}; }
    }
}


@media (min-width: 900px) {
    @for $i from 1 through $grid-columns {
      .col__md--#{$i} { --span: #{$i}; }
      .col__md--start-#{$i} { grid-column-start: #{$i}; }
      .col__md--end-#{$i+1} { grid-column-end: #{$i+1}; }
    }
}

@media (min-width: 1200px) {
    @for $i from 1 through $grid-columns {
      .col__lg--#{$i} { --span: #{$i}; }
      .col__lg--start-#{$i} { grid-column-start: #{$i}; }
      .col__lg--end-#{$i+1} { grid-column-end: #{$i+1}; }
    }
}

.col--start { grid-column-start: 1; }
.col--end   { grid-column-end: -1; }

